<%-include('partials/small-header')%>
    <div id="message-bar"></div>
    <%- include('partials/navbar')%>
    <div id="centered-body-container">
      <div class="categories-container">
          <%categories.forEach(cat=>{%>
            <div class="category-container">
                <a href="/categories/<%=cat.split(' ').join('-')%>"><%=cat%></a>
            </div>
            <%})%>
      </div>
    </div>
  </body>
</html>
