<%- include('partials/big-header')%>
    <div id="message-bar"></div>
    <%- include('partials/navbar')%>
    <div id="centered-body-container">
      <h1 class="centeredh1"></h1>
      
   <%- include('partials/post-input')%>
      
  <%- include('partials/posts-from-array')%>


    </div>
   
  </body>
</html>
