<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Akronim|Lobster|Lobster+Two|Satisfy|Trade+Winds&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="login-body">
    <div id="login-container">
        <div id="home"><a href="/">Home</a></div>
        <h1 id="logo-medium">ProjectMe</h1>
        <div id="login-form">
            <form action="/login">
                <div id="login-username">
                    <label for="username">Username</label>&nbsp;&nbsp;&nbsp;
                    <input type="text" id="username" name="username">
                </div>
                <div id="login-password">
                    <label for="password">Password</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="password" id="password" name="password">
                </div>
                <br>
                <button id="login-submit" "type="submit">Login</button>
                <br>
                <br>
                <br>
                <br>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="centered-text">Don't have an account: <a href="/signup">Sign Up</a></span>
            </form>
        </div>
    </div>



























    <!-- <header id="top-header">
      <h1 id="main-brand-header">ProjectMe &nbsp;<span id="span-in-line">Find your next, perfect project!</span></h1>
      <div id="login-signup-container">
        <a href="/login"><button id="login">Log In</button></a>
        <a href="/signup"><button id="signup">Sign Up</button></a>
      </div>
    </header>
    <div id="message-bar"></div>
    <nav id="nav-bar">
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/">ProjectMe</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/Posts">Posts</a></li>
        <li><a href="/More">More</a></li>
      </ul>
    </nav>
    <div id="centered-body-container">
      <h1 class="centeredh1">ProjectsMe Posts</h1>
      <section class="post">
        <div id="author-profile">
          <div id="author-profile-pic"> </div>
          <h3>Apollo Bunce</h3>
        </div>
      </section>
      <section class="post">
        <div id="author-profile">
          <div id="author-profile-pic"> </div>
          <h3>Apollo Bunce</h3>
        </div>
      </section>
      <section class="post">
        <div id="author-profile">
          <div id="author-profile-pic"> </div>
          <h3>Apollo Bunce</h3>
        </div>
      </section>
      <section class="post">
        <div id="author-profile">
          <div id="author-profile-pic"> </div>
          <h3>Apollo Bunce</h3>
        </div>
      </section>
      <section class="post">
        <div id="author-profile">
          <div id="author-profile-pic"> </div>
          <h3>Apollo Bunce</h3>
        </div>
      </section>
      <section class="post">
        <div id="author-profile">
          <div id="author-profile-pic"> </div>
          <h3>Apollo Bunce</h3>
        </div>
      </section>
      <section class="post">
        <div id="author-profile">
          <div id="author-profile-pic"> </div>
          <h3>Apollo Bunce</h3>
        </div>
      </section>
      
    </div> -->
    
  </body>
</html>
