body {
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

#top-header-big{
  width: 100%;
  height: 175px;
  overflow: hidden;
  background: rgb(145,36,35);
  background: linear-gradient(45deg, rgba(145,36,35,1) 16%, rgba(145,36,35,1) 23%, rgba(145,36,35,1) 48%, rgba(145,36,35,1) 96%, rgba(255,255,255,1) 97%, rgba(109,181,196,1) 98%);
  padding: 0;
  margin: 0;
  top: 0;

}
#top-header-small{
  width: 100%;
  height: 95px;
  background: rgb(145,36,35);
  background: linear-gradient(45deg, rgba(145,36,35,1) 16%, rgba(145,36,35,1) 23%, rgba(145,36,35,1) 48%, rgba(145,36,35,1) 96%, rgba(255,255,255,1) 97%, rgba(109,181,196,1) 98%);
  padding: 0;
  margin: 0;
  top: 0;

}
#main-brand-header{
  padding: 0;
  font-size: 150px;
  color: white;
  display: inline;
  
 
  font-family: 'Lobster';
  line-height: 175px;
  
}
#main-brand-header-small{
  padding: 0;
  font-size: 65px;
  color: white;
  display: inline;
  
 
  font-family: 'Lobster';
  line-height: 95px;
  
}
#span-in-line{
  font-size: 4vh;
  color: #E1E1E1;
  text-decoration: underline;
}
#span-in-line-small{
  font-size: 2vh;
  color: #E1E1E1;
  text-decoration: underline;
}
.centeredh1{
  font-size:30px;
  color: white;
  text-align: center;
}

#nav-bar{
  background-color: #1C1D22;
  margin-top: 0px;
  padding: 0;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
  

}
#nav-bar ul{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}
#nav-bar ul li{
  width: 10%;
  font-family: 'Lobster Two';
  font-size: 22px;
  color: white;
  transition: background 0.2s linear;
}
#nav-bar ul li:hover{
  background-color: black;
}
#nav-bar ul li a{
  text-decoration: none;
  color:white;
  
}
#logo-medium{
  font-size: 6vh;
  font-family: 'Lobster';
  color: white;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #6EB2C0 ;
}
#message-bar{
  height: 10px;
  margin: 0;
    padding-left: 10px;
  padding-right: 10px;
  padding: 0;
  background-color: #C82C2B;
}

#login-body{
  background-color: #1C1D22;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 1fr auto;
  
}
#login-container{
  background: rgb(145,36,35);
  background: linear-gradient(45deg, rgba(145,36,35,1) 16%, rgba(145,36,35,1) 23%, rgba(145,36,35,1) 48%, rgba(145,36,35,1) 96%, rgba(255,255,255,1) 97%, rgba(109,181,196,1) 98%);
  height: 500px;
  width: auto;
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 19px 4px #000000; 
  box-shadow: 0px 0px 19px 4px #000000;

}
#centered-body-container{
  background-color: #1C1D22;
  width:70%;  
  margin:0 auto;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 13px 2px #000000; 
  box-shadow: 0px 10px 13px 2px #000000;
}
#login-signup-container{
  float: right;
  color: white;
  margin-top:2vw;
  margin-right:30px;
  
}
#login-signup-container-small{
  float: right;
  color: white;
  margin-top:0vw;
  margin-right:30px;
  
}
.post{
  background-color: #e3e3e3;
  border-radius: 5px;
  width: inherit +10%;
  height: auto;
  padding:10px;
  margin-top:20px;
  border-bottom:4px solid  #6EB2C0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:20px auto 20px;
  font-family: 'Montserrat';
  z-index: 9;
  transition: 0.2s linear;
  
}
.post:hover{
  background-color: #f0f0f0;
}
.post a {
  color: black;
  font-family: 'Montserrat';
}

.post:first-child{
  margin-top:0;
}
.new-post{
  background-color: #e3e3e3;
  border-radius: 5px;
  width: inherit +10%;
  height: 230px;
  padding:10px;
  margin-top:20px;
  border-bottom:6px solid  #C82C2B;
  border-left:2px solid  #C82C2B;
  border-right:2px solid  #C82C2B;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:20px auto 20px;
  font-family: 'Montserrat';
 
}
.post-stuff{
 
}
.post-form{
  grid-column: 1/5;
  width: 100%;
  height: 210px;
  display: block;  
}
#post-content-input{
  display: block;
  box-sizing: border-box;
  width: inherit;
  height: 115px;
  resize:none;
  grid-row: 2/4;
  grid-column: 3/4;
  background-color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  color: #1C1D22;
  font-family: 'Roboto';
  padding: 10px;
  margin-top: 10px;
  float: right;
  font-size: 15px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
#post-title-input{
  font-size: 25px;
  font-family: 'Roboto';
  outline: none;
  width: 400px;
  padding: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #1A1B1F;
}
.post-title a{
  color: white;
}
#post-button{
  height: 40px;
  width: 80px;
  border-radius: 0 0 10px 0;
  color: white;
  font-size: 25px;
  padding: 1px;
  
  background-color: #1A1B1F;
  font-family: 'Lobster Two';
  z-index: 9;
  float: right;
  display: block;
  margin-top: -40px;
}
#post-category-input{
  font-size: 20px;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
}
#author-profile{
  grid-row: 1/4;
  grid-column: 1/2;
  display: flex;
  flex-direction: row;
  
  
  padding: 10px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 5px 0 0 0;
  
  
  font-family: 'Ubuntu';
}
.post-title{
  font-family: 'Roboto';
  height: 20px;
  width: 70%;
  text-align: center;
  font-family: 'Roboto';
  grid-column: 1/7;
  grid-row: 1/2;
}
.post-title h2{
  text-align: center;
  margin-top: -10px;
  font-family: 'Ubuntu';
}
.post-content{
  grid-row: 1/4;
  grid-column: 2/5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20px 1fr 20px;
}
.post-p{
  grid-row: 2/3;
  grid-column: 2/5;
}
#author-profile-pic{
  display: block;
  height: 60px;
  width: 60px;
  
  border-radius: 30px;

  position: absolute;
  
  background-size: 60px 60px;
  
}
.user-profile-pic{
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

#author-name{


  
}
.category-tag{
  float: left;
  color: #BB2725;
}
#author-profile h3{
  display: inline; 
  font-size: 22px;
  margin-top: 5px;
  margin-left: 100px;
}
#login-password label{
  color: white;
  font-size: 20px;
  font-weight: 200;
}
#login-username label{
  font-size: 20px;
  color: white;

}
#username{
  background-color: transparent;
  font-size: 20px;
  color: white;
  border:none;
  border-bottom: 2px solid #1C1D22;
  width: 200px;
  padding: 7px;
}
#username:focus{
  outline: none !important;
  
}
#password{
  background-color: transparent;
  font-size: 30px;
  color: white;
  padding: 7px;
  border:none;
  border-bottom: 2px solid #1C1D22;
  width: 200px;
}
#password:focus{
  outline: none !important;
  
}
#login-submit{
  text-align: center;

  background-color: #6EB2C0;
  border-radius: 10px;
  font-size:25px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin-left:39% ;
}
.centered-text{
  text-align: center;
}
#home{
  background-color: #1C1D22;
  position: absolute;
  top:200px;
  left: 640px;
}
#home a{
  font-size:20px;
  color:white;
  font-family: 'Lobster Two';
}
#login{
  color: white;
  font-size: 18px;
  background-color: transparent;
  padding: 5px;
}
#signup{
  color: white;
  font-size: 18px;
  background-color: transparent;
  padding: 5px;
}
.post-time{
  display: inline;
  margin-left: 65px;
  margin-top: 30px;
  position: absolute;
}
.post-footer{
  height: 20px;
  width: 99%;

  
  grid-row: 3/4;
  grid-column: 1/4;
  text-align: right;
  
  
}


#user-blue{
  text-decoration: underline;
  font-size: 18px;
  text-decoration-color: #6EB2C0;
}


@media only screen and (max-width: 900px) {
  body {
    
  }
  #user-tag{
    float: left;
  }
  
  #post-title-input{
    font-size: 20px;
    width: auto;
    float: left;
  }
  #author-profile-pic{
    display: none;
  }
  #author-profile h3{
   margin-left: 0;
  }
  #post-content-input{
    height: 100px;
  }
.post-p{
  margin-top: 30px;
}
  #post-title{
    width: 100%;
  }
  .post{
    height: 200px;
  }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #centered-body-container{
      width: 97%;
    }
    #nav-bar{
      height: 60px;
    }
    #nav-bar li a{
      font-size:30px;
      line-height: 30px;
    }
}
.delete-button{
  
  height: 30px;
  width: 60px;
  border-radius: 0 0 10px 0;
  color: white;
  font-size: 20px;
  padding: 1px;
  float: right;
  
  margin-right: -17px;
  display: block;
  background-color: #B93B34;
  font-family: 'Lobster Two';
  z-index: 9;
  
  
}


.edit-button{
  height: 30px;
  width: 60px;
  border-radius: 0 0 10px 0;
  color: white;
  font-size: 20px;
  padding: 1px;
  
  margin-right: 10px;
  background-color: #7DB1BE;
  font-family: 'Lobster Two';
  z-index: 9;
  
  
}
.comment-button{
  margin-right: 10px;
  background-color: #7DB1BE;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 5px 5px 0 0;
  margin-top: 0px;
}
.comment-button-bottomed{
  margin-top: 7px;
}


.like-button{
  margin-right: 10px;
  background-color: #7DB1BE;
  border: none;
  border-radius: 5px 5px 0 0;
  font-size: 15px;
  color: white;
}
.like-button-bottomed{
  margin-right: 130px;
  
}
.delete-button-hidden{
  
  height: 30px;
  width: 60px;
  border-radius: 0 0 10px 0;
  color: white;
  font-size: 20px;
  padding: 1px;
  margin-right: -19px;
  
  background-color: #B93B34;
  font-family: 'Lobster Two';
  z-index: 9;
  visibility: hidden;
  
  
}


.edit-button-hidden{
  height: 30px;
  width: 60px;
  border-radius: 0 0 10px 0;
  color: white;
  font-size: 20px;
  padding: 1px;
  background-color: #7DB1BE;
  font-family: 'Lobster Two';
  z-index: 9;
  visibility: hidden;
  
}
.post-comment-wrapper{  
  display: none;
  width: 50%;
  height: auto;
  padding:10px;
  background-color: #E3E3E3;
  border: 4px solid #6EB2C0;
  z-index: 0;
  
  grid-template-rows:20px auto 20px;
  font-family: 'Montserrat';
  margin: 0 auto;
  opacity: 1;

  transition: 0.2s linear;  
}

.comment-post-button{
  position: absolute;
  height: 20px;
  width: 40px;
  border-radius: 0 0 0 10px;
  color: white;
  font-size: 15px;
  padding: 1px;
  
  background-color: #1A1B1F;
  font-family: 'Lobster Two';
  z-index: 9;
  float: right;
  display: block;
  margin-top: -23px;
  padding: 2px;
  
}
.comment-form{
  width: 100%;

  
}
.comment-content-input{
  height: 60px;
  width: 97%;
  resize: none;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 10px;

}
.comment-wrapper{
  background-color: #ededed;
  border-radius: 20px;
  padding: 10px;
  
  border-bottom: 1px solid #8A1E22;
}
.delete-form{
  float: right;
}
.edit-post-textarea{
  width: 100%;
  resize: none;
  border-radius: 10px;
  padding: 5px;
  border: none;
  height: 100px;
  overflow: visible;
  font-family: 'Montserrat';
  font-size:13px;
  
}
.update-post-button{
  float: right;
  margin-top: -31px;
  margin-right: -10px;
  display: block;
  position: relative;
  z-index: 9;
  background-color: #1A1B1F;
  font-family: 'Lobster Two';
  color: white;
  padding: 2px;
  font-size:17px;
  border-radius: 0 0 10px 0;

}
.update-post-form{
  z-index: 0;
  grid-row: 2/3;
  grid-column: 2/5;
}
.comment-edit-button{
  background-color: #7DB1BE;
  font-family: 'Lobster Two';
  color: white;
  padding: 4px;
  margin-left: 10px;
  font-size: 16px;
  display: inline;
}
#user-profile-about p{
  margin-left: 350px;
  color: black;
  display: block;
}
.comment-delete-button{
  background-color: #B93B34;
  font-family: 'Lobster Two';
  color: white;
  padding: 4px;
  font-size:16px;
  display: inline;
  margin-left: 10px;
}
.comment-footer{
  display: flex;
}

.edit-comment-button{
  float: right;
  font-size:16px;
  background-color: #1A1B1F;
  font-family: 'Lobster Two';
  color: white;
  border-radius: 0 0 5px 0;
  margin-top: -28px;
  position: relative;
  z-index: 9;
  
}
.edit-comment-input{
  width: 98%;
  height: 50px;
  resize: none;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 10px;
}
.edit-comment-form{
  width: 100%;
  
  margin-bottom: 10px;
}
.edit-form-container{
  
}
.category-container{
  width: auto;
  font-size:40px;
  color: white;
  font-family: 'Montserrat';
  padding: 10px;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
  background: rgb(46,47,51);
  background: linear-gradient(45deg, rgba(46,47,51,1) 95%, rgba(110,178,192,1) 95%);
  border-bottom: 4px solid #6EB2C0;
  
  
}
.capitalize{
  text-transform: capitalize;
}
.category-container a{
  text-decoration: none;
  color: inherit;
}
.category-container:nth-child(odd){
  border-bottom: 4px solid #B93B34;
  background: rgb(46,47,51);
  background: linear-gradient(45deg, rgba(46,47,51,1) 95%, rgba(185,59,52,1) 95%);
}
.categories-container{
  margin: 0 auto;
  margin-top: ;
  margin-bottom: 150px;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.favorite-container{
  display: inherit;
}
.favorite-button{
  font-size: 30px;
  background-color: transparent;
  border: none;
  filter: brightness(100);
}
.favorite-button-favorited{
  font-size: 30px;
  background-color: transparent;
  border: none;
  
}
#blue{
  color:#6EB2C0;
}
.active{
  text-decoration: underline !important; 
  background-color: black;
}
#user-profile-container{
  background-color: #1C1D22;
  width:90%;  
  margin:0 auto;
  margin-top: 20px;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 13px 2px #000000; 
  box-shadow: 0px 10px 13px 2px #000000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px auto;
  
  height: 800px;
}
#favorites-container{
  grid-template-columns: 1/2;
  grid-row: 2/6;
  text-align: justify;
  
  display: block;
}
#favorites-container{
  color: white;
  font-family: 'Montserrat';
}
#user-profile-about{
  grid-row: 1/2;
  grid-column: 1/4;
  text-align: center;
  color: white;
  font-family: 'Montserrat';
}
#user-profile-about h1{
  
  
}
.big-profile-round{
  float: left;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  
}
#img-container{
  float: left;
  margin-top: -100px;
}
.big-header{
  font-size: 40px;
}
.favorite-item{
  margin-top: 20px;
  font-size: 18px;
  text-transform: capitalize;
}
.favorite-item a{
  
  color: white;
}
#user-profile-main{
  color: white;
  font-family: 'Montserrat';
  
  
  grid-row: 2/6;
  grid-column: 2/6;
  margin-left: 50px;
}
#user-profile-main{
  font-size: 20px;
}
.blue-separators{
  color: #6EB2C0;
}
.red-separators{
  color: #B93B34;
}
.view-post{
  height: 25px;
  float: left;
  font-size: 20px;
  margin-left: -68px;
  color: white;
  font-family: 'Roboto';
  background-color: #6EB2C0;
  border: none;
  padding: 10px;
  line-height: 6px;
  
}
.cat-separator{
  color: #E35D33;
  
}
.recent-item{
  margin-top: 15px;
}
.like-form{
  display: inline;
}
.comment-like-button{
  
  background-color: #7DB1BE;
  font-family: 'Lobster Two';
  color: white;
  padding: 4px;
  font-size:16px;
  display: inline;
  
}
#bio-content-wrapper{
  grid-column: 1/7;
  grid-row: 6/7;
  color: white;
  font-size:14px;
  font-family: 'Roboto';
}
.bio-form{
  grid-row: 6/7;
  grid-column: 1/7;
  
}
#bio-wrapper{
  grid-column: 6/7;
  grid-row: 1/2;
  
}
.bio-button{
  float: right;
  padding: 2px;
  font-size: 18px;
  margin-top: 20px;
  background-color: #1C1D22;
  border: none;
  border-radius: 0 10px 0 0 ;
  position: relative;
  z-index: 9;
  color: white;
  font-family: 'Lobster Two';
}

.textarea-bio{
  padding: 10px;
  margin: 0 auto;
  margin-bottom: -90px;
  font-size: 18px;
  font-family:  'Montserrat';
  width: 98.5%;
  resize: none;
  border-radius: 10px;
}
#update-bio-button{
  font-size: 20px;
  background-color: #7DB1BE;
  border: none;
  color: white;
  margin-top: -15px;
  margin-right: -10px;
  padding: 5px;
  border-radius: 10px 0 0 10px ;
  
}
#write-bio-button{
  font-size: 20px;
  background-color: #B93B34;
  border: none;
  color: white;
  margin-top: -15px;
  margin-right: -10px;
  padding: 5px;
  border-radius: 10px 0 0 10px ;

}
#searchbar{
  font-size: 25px;
  padding: 5px;
  font-family: 'Montserrat';
  
}
#search-button{
  border: none;
  border-radius: 5px;
}


.search{
  width: 200px;
}

.message-form-button{
display: block;
margin-right: -10px;


}

.messages-button{
  font-size: 20px;
  
  border: none;
  
  margin-left: 9px;
  padding: 5px;
  border-radius: 10px 0 0 10px ;
}
#messages-container{
  background-color: #1C1D22;
  width:70%;  
  margin:0 auto;
  margin-top: 20px;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 13px 2px #000000; 
  box-shadow: 0px 10px 13px 2px #000000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 100px 100px auto;
}
#new-thread-form{
  grid-row: 1/2;
  grid-column: 1/6;
  background-color: white;
}
#thread-list{
  background-color: blue;
  grid-row: 2/4;
  grid-column: 1/2;
}
#post-char-count{
  float: right;
  margin-top: -110px;
  margin-right: 10px;
  
}
#comment-char-count{
  float: right;
  margin-top: -30px;
  margin-right: 4px;
  position: relative;
  z-index: 9x;
}



























/*  */
#search-form{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 30px;
  height: 30px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

#search-bar-input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 25px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa{
  box-sizing: border-box;
  padding: 1px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

#search-form:hover{
  width: 200px;
  cursor: pointer;
}

#search-form:hover input{
  display: block;
}

#search-form:hover .fa{
  background: #07051a;
  color: white;
}